.container{
    width:70%;
    margin:5% auto;
    background-color: rgb(39,46,72);
}
.card{
    background-color: rgb(26,35,58);
    
}
.card-body{
    position: relative;
}
.k1{
    position: absolute;
    background-color: transparent;
    width:20px 20px;
    margin-right:-10px;
}
.k2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(39,46,72);
}
.k3{
    position: absolute;
    background-color: transparent;
    width:20px 20px;margin-left: -20px;
    transform: rotate(45 deg);
}
.btn{
    color:white;
    background-image: linear-gradient(90deg, rgb(0,166,243), rgb(0,84,186));
    margin-right:7px;
    font-size:14px;
}