body{
    background-color: rgb(238,243,250);
}
.container{
    width:70%;
    margin:10% auto;
}
img{
    width:80%;
    margin-left:10%;
}
.k1{
    padding:60px 30px;
    background-color: rgb(11,118,155);
}
.k2{
    background-color: black;
    width: 100%;
}